<div class="data-table-wrapper">
  @if (loading()) {
    <div class="data-table-loading" role="status" aria-live="polite">Cargando…</div>
  } @else if (!hasData()) {
    <ng-content select="[emptyState]"></ng-content>
  } @else {
    <table class="data-table" role="table">
      <thead>
        <tr role="row">
          @for (column of columns(); track column.key) {
            <th
              role="columnheader"
              scope="col"
              [class.align-center]="column.align === 'center'"
              [class.align-right]="column.align === 'right'"
            >
              {{ column.label }}
            </th>
          }
          @if (rowActionsTemplate()) {
            <th role="columnheader" scope="col" class="align-right">
              <span class="sr-only">Acciones</span>
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of data(); track trackRow($index, row)) {
          <tr
            role="row"
            tabindex="0"
            (click)="onRowClick(row)"
            (keyup.enter)="onRowClick(row)"
          >
            @for (column of columns(); track column.key) {
              <td
                role="cell"
                [class.align-center]="column.align === 'center'"
                [class.align-right]="column.align === 'right'"
                [class]="cellClass(row, column)"
              >
                @if (column.image) {
                  @if (!imagenFallida(row) && imagenSrc(row, column); as src) {
                    <img class="data-table-thumb" [src]="src" alt="" (error)="onImagenError(row)" />
                  } @else {
                    <span class="data-table-thumb data-table-thumb--empty" aria-hidden="true"></span>
                  }
                } @else {
                  {{ cellValue(row, column) }}
                }
              </td>
            }
            @if (rowActionsTemplate()) {
              <td role="cell" class="align-right" (click)="$event.stopPropagation()">
                <div class="data-table-actions">
                  <ng-container
                    [ngTemplateOutlet]="rowActionsTemplate()"
                    [ngTemplateOutletContext]="{ $implicit: row }"
                  ></ng-container>
                </div>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
</div>
